.block {
  position: relative;
  background-color: crimson;
  width: 20vh;
  height: 20vh;
  border: solid;
  transition: transform 1s;
  display: flex;
  min-height: 10em;
  display: table-cell;
  vertical-align: middle;
  font-size: 10vh;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
